<h1>hello</h1>
<p><%= Date.today %></p>
<%= link_to 'article list', articles_path %> |
<%= link_to 'shops list', shops_path %> |
<%= link_to 'Toy app', users_path %> |
<br>
<hr/>
<%= link_to 'サポートサイト', 'http://www.wings.msn.to/', class: 'outher', title: '困った時はこちらへ！' %>
<br>
