<h2>Create posts</h2>

<%= form_for @post do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'enter title' %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body, placeholder: 'enter body' %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
