<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= image_tag @post.image.url(:medium) %>
        <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true} do |f| %>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= f.error_notification %>
          </div>
        </div>
        <div class="container-fluid">
          <div class="text-center">
            <h4>Upload an image (this is required): </h4>
            <%= f.input :image, label: false, onChange:'loadFile(event)'  %>
          </div>
          <div class="text-center">
            <%= f.input :title, label: false, placeholder: 'Add your title' %>
          </div>
          <div class="text-center">
            <%= f.button :submit, class: 'btn-success' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
