<div class="posts-wrapper row" >
    <% @posts.each do |post| %>
      <div class="post">
          <div class="post-head">
            <div class="thumb-img"></div>
              <div class="user-name">
                <div class="time-ago">
                  <%= time_ago_in_words post.created_at %>
                </div>
                  <%= post.user.user_name %>
              </div>
          </div>
          <div class="image center-block">
              <%= link_to (image_tag post.image.url(:medium)),post_path(post) %>
          </div>
          <div class="post-bottom">
            <div class="title">
              <div class="title-content">
                <%= post.title %>
              </div>
              <!-- comment text -->
              <div class="comments">
                <% if post.comments %>
                  <% post.comments.each do |comment| %>
                    <div class="comment">
                      <div class="user-name">
                        <%= comment.user.user_name %>
                      </div>
                      <div class="comment-content">
                        <%= comment.content %>
                      </div>
                      <% if comment.user == current_user %>
                        <%= link_to "[x]", post_comment_path(post, comment), method: :DELETE, data: {confirm: "Are Your Sure?"} %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <!-- comment_form -->
        <div class="comment-like-form row">
          <div class="like-button col-sm-1">
            <span class="glyphicon glyphicon-heart-empty"></span>
          </div>
          <div class="comment-form col-sm-11">
            <%= form_for [post, post.comments.new] do |f| %>
              <%= f.text_field :content, placeholder: 'Add a comment...' %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
