<!DOCTYPE html>
<html>
  <head>
    <title>Myblog3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to (image_tag 'logo 2.png', class: 'image-top'), root_path %>
    <%= render 'layouts/nab' %>
      <%= yield %>
      <div id='back-top'>
        <%= link_to '👆:back-top' %>
      </div>
      <p class='back-text-text'>text:370で表示</p>
      <div id='back-text'></div>
  </body>
</html>
