<h1><%= link_to "blog-page â† ", root_path, class: 'toppage' %></h1>

<h2 class="clear-right">
  My Posts
  <%= link_to 'New Post', new_post_path, class: 'newpost' %>
</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post)%>
      <%= link_to "[Edit]", edit_post_path(post), class: 'command edit-margin-left' %>
      <%= link_to "[x]", post_path(post), method: :DELETE, data: {confirm: 'Are You OK ?'}, class: 'command' %>
    </li>
  <% end %>
</ul>
